<ul class="list-unstyled" *ngIf="isSuccess && starred ;else other_content">
  <li class="border-bottom repo-items" *ngFor="let repo of starred |  sortgrid: '-createdDate'  ">
    <h3><a href={{repo.html_url}} target="_blank" title={{repo.name}}>{{repo.name}}</a></h3>
    <p class="text-gray .py-1 repo-name">{{repo.description}}</p>
    <div class="pull-left">
      <span>{{repo.language}}</span>
      <strong><i class="fa fa-star"></i> {{repo.stargazers_count}}</strong>
      <strong><i class="fa fa-code-fork"></i> {{repo.forks_count}}</strong>
      <time class="time">Updated {{repo.pushed_at | timeAgo}}</time>
    </div>
  </li>
</ul>

<ng-template #other_content>
  <div class="record-not-found">
    <p *ngIf="isLoading">loading...</p>
    <p *ngIf="!isLoading && !isSuccess">No record found. </p>
  </div>
</ng-template>