<ul class="list-unstyled">
  <div *ngIf="isSuccess && followings ;else other_content">
    <div class="ui-g border-bottom item" *ngFor="let following of followings">
      <div class="follow-items">
        <li >
          <span>
            <img src={{following.avatar_url}} class="avatar img-rounded img-responsive user-image" alt="User Avatar" />
          </span>
        </li>
      </div>
      <div class="follow-items">
        <span class="f4 link-gray-dark">{{following.name}}</span>
        <span>
          <a href={{following.html_url}} target="_blank" title={{following.login}}>
            {{following.login}}
          </a>
        </span>
      </div>
    </div>
  </div>
  <div>
  </div>
</ul>

<ng-template #other_content>
  <div class="record-not-found">
    <p *ngIf="isLoading">loading...</p>
    <p *ngIf="!isLoading && !isSuccess">No record found.</p>
  </div>
</ng-template>